.cards{
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
}

#addBtn{
    margin-left: 50%;
}

#title{
    padding-left: 25%;
    padding-right: 25%;
    margin-left: 15%;
    
}

#listItem{
    width: 100%;

}